In [1]:
import pandas as pd
import numpy as np

In [12]:
fortune = pd.read_csv("C:\python\data\Fortune_500_2017.csv", usecols=['Rank','Title','Industry','Hqlocation','Sector'])

In [4]:
fortune.head()

,Rank,Title,Sector,Industry,Hqlocation
0,1,Walmart,Retailing,General Merchandisers,"Bentonville, AR"
1,2,Berkshire Hathaway,Financials,Insurance: Property and Casualty (Stock),"Omaha, NE"
2,3,Apple,Technology,"Computers, Office Equipment","Cupertino, CA"
3,4,Exxon Mobil,Energy,Petroleum Refining,"Irving, TX"
4,5,McKesson,Wholesalers,Wholesalers: Health Care,"San Francisco, CA"

In [13]:
fortune['Sector'] = fortune['Sector'].str.upper()

In [6]:
fortune

,Rank,Title,Sector,Industry,Hqlocation
0,1,Walmart,RETAILING,General Merchandisers,"Bentonville, AR"
1,2,Berkshire Hathaway,FINANCIALS,Insurance: Property and Casualty (Stock),"Omaha, NE"
2,3,Apple,TECHNOLOGY,"Computers, Office Equipment","Cupertino, CA"
3,4,Exxon Mobil,ENERGY,Petroleum Refining,"Irving, TX"
4,5,McKesson,WHOLESALERS,Wholesalers: Health Care,"San Francisco, CA"
...,...,...,...,...,...
495,496,Michaels Cos.,RETAILING,Specialty Retailers: Other,"Irving, TX"
496,497,Toll Brothers,ENGINEERING & CONSTRUCTION,Homebuilders,"Horsham, PA"
497,498,Yahoo,TECHNOLOGY,Internet Services and Retailing,"Sunnyvale, CA"
498,499,Vistra Energy,ENERGY,Energy,"Dallas, TX"
499,500,ABM Industries,BUSINESS SERVICES,Diversified Outsourcing Services,"New York, NY"

In [14]:
fortune['Industry'] = fortune['Industry'].str.lower()

In [8]:
fortune

,Rank,Title,Sector,Industry,Hqlocation
0,1,Walmart,RETAILING,general merchandisers,"Bentonville, AR"
1,2,Berkshire Hathaway,FINANCIALS,insurance: property and casualty (stock),"Omaha, NE"
2,3,Apple,TECHNOLOGY,"computers, office equipment","Cupertino, CA"
3,4,Exxon Mobil,ENERGY,petroleum refining,"Irving, TX"
4,5,McKesson,WHOLESALERS,wholesalers: health care,"San Francisco, CA"
...,...,...,...,...,...
495,496,Michaels Cos.,RETAILING,specialty retailers: other,"Irving, TX"
496,497,Toll Brothers,ENGINEERING & CONSTRUCTION,homebuilders,"Horsham, PA"
497,498,Yahoo,TECHNOLOGY,internet services and retailing,"Sunnyvale, CA"
498,499,Vistra Energy,ENERGY,energy,"Dallas, TX"
499,500,ABM Industries,BUSINESS SERVICES,diversified outsourcing services,"New York, NY"

In [15]:
fortune[fortune['Industry'].str.contains('comp')]

,Rank,Title,Sector,Industry,Hqlocation
2,3,Apple,TECHNOLOGY,"computers, office equipment","Cupertino, CA"
27,28,Microsoft,TECHNOLOGY,computer software,"Redmond, WA"
40,41,Dell Technologies,TECHNOLOGY,"computers, office equipment","Round Rock, TX"
46,47,Intel,TECHNOLOGY,semiconductors and other electronic components,"Santa Clara, CA"
60,61,HP,TECHNOLOGY,"computers, office equipment","Palo Alto, CA"
80,81,Oracle,TECHNOLOGY,computer software,"Redwood City, CA"
118,119,Qualcomm,TECHNOLOGY,semiconductors and other electronic components,"San Diego, CA"
151,152,Jabil Circuit,TECHNOLOGY,semiconductors and other electronic components,"St. Petersburg, FL"
161,162,Xerox,TECHNOLOGY,computer peripherals,"Norwalk, CT"
205,206,Texas Instruments,TECHNOLOGY,semiconductors and other electronic components,"Dallas, TX"
216,217,Western Digital,TECHNOLOGY,computer peripherals,"Irvine, CA"
225,226,Micron Technology,TECHNOLOGY,semiconductors and other electronic components,"Boise, ID"
264,265,Applied Materials,TECHNOLOGY,semiconductors and other electronic components,"Santa Clara, CA"
325,326,salesforce.com,TECHNOLOGY,computer software,"San Francisco, CA"
386,387,Nvidia,TECHNOLOGY,semiconductors and other electronic components,"Santa Clara, CA"
405,406,Activision Blizzard,TECHNOLOGY,computer software,"Santa Monica, CA"
408,409,NCR,TECHNOLOGY,"computers, office equipment","Duluth, GA"
413,414,Sanmina,TECHNOLOGY,semiconductors and other electronic components,"San Jose, CA"
439,440,Lam Research,TECHNOLOGY,semiconductors and other electronic components,"Fremont, CA"
442,443,Adobe Systems,TECHNOLOGY,computer software,"San Jose, CA"
464,465,Symantec,TECHNOLOGY,computer software,"Mountain View, CA"
467,468,NetApp,TECHNOLOGY,computer peripherals,"Sunnyvale, CA"

In [11]:
fortune

,Rank,Title,Sector,Industry,Hqlocation
0,1,Walmart,RETAILING,False,"Bentonville, AR"
1,2,Berkshire Hathaway,FINANCIALS,False,"Omaha, NE"
2,3,Apple,TECHNOLOGY,True,"Cupertino, CA"
3,4,Exxon Mobil,ENERGY,False,"Irving, TX"
4,5,McKesson,WHOLESALERS,False,"San Francisco, CA"
...,...,...,...,...,...
495,496,Michaels Cos.,RETAILING,False,"Irving, TX"
496,497,Toll Brothers,ENGINEERING & CONSTRUCTION,False,"Horsham, PA"
497,498,Yahoo,TECHNOLOGY,False,"Sunnyvale, CA"
498,499,Vistra Energy,ENERGY,False,"Dallas, TX"
499,500,ABM Industries,BUSINESS SERVICES,False,"New York, NY"

In [20]:
fortune[['City','State']] = fortune['Hqlocation'].str.split(',',expand = True,)

In [21]:
fortune

,Rank,Title,Sector,Industry,Hqlocation,City,State
0,1,Walmart,RETAILING,general merchandisers,"Bentonville, AR",Bentonville,AR
1,2,Berkshire Hathaway,FINANCIALS,insurance: property and casualty (stock),"Omaha, NE",Omaha,NE
2,3,Apple,TECHNOLOGY,"computers, office equipment","Cupertino, CA",Cupertino,CA
3,4,Exxon Mobil,ENERGY,petroleum refining,"Irving, TX",Irving,TX
4,5,McKesson,WHOLESALERS,wholesalers: health care,"San Francisco, CA",San Francisco,CA
...,...,...,...,...,...,...,...
495,496,Michaels Cos.,RETAILING,specialty retailers: other,"Irving, TX",Irving,TX
496,497,Toll Brothers,ENGINEERING & CONSTRUCTION,homebuilders,"Horsham, PA",Horsham,PA
497,498,Yahoo,TECHNOLOGY,internet services and retailing,"Sunnyvale, CA",Sunnyvale,CA
498,499,Vistra Energy,ENERGY,energy,"Dallas, TX",Dallas,TX
499,500,ABM Industries,BUSINESS SERVICES,diversified outsourcing services,"New York, NY",New York,NY

In [26]:
def BulidShortcut(row):
    pob = row["Industry"]
    result = ''
    for i in pob.split(' '):
        result += i[0]
    return result

In [30]:
BulidShortcut({'Industry':'Factory Underbewspaper'})

'FU'

In [34]:
fortune['IndustryShort'] = fortune.apply(BulidShortcut,axis=1)

In [35]:
fortune

,Rank,Title,Sector,Industry,Hqlocation,City,State,IndustryShort
0,1,Walmart,RETAILING,general merchandisers,"Bentonville, AR",Bentonville,AR,gm
1,2,Berkshire Hathaway,FINANCIALS,insurance: property and casualty (stock),"Omaha, NE",Omaha,NE,ipac(
2,3,Apple,TECHNOLOGY,"computers, office equipment","Cupertino, CA",Cupertino,CA,coe
3,4,Exxon Mobil,ENERGY,petroleum refining,"Irving, TX",Irving,TX,pr
4,5,McKesson,WHOLESALERS,wholesalers: health care,"San Francisco, CA",San Francisco,CA,whc
...,...,...,...,...,...,...,...,...
495,496,Michaels Cos.,RETAILING,specialty retailers: other,"Irving, TX",Irving,TX,sro
496,497,Toll Brothers,ENGINEERING & CONSTRUCTION,homebuilders,"Horsham, PA",Horsham,PA,h
497,498,Yahoo,TECHNOLOGY,internet services and retailing,"Sunnyvale, CA",Sunnyvale,CA,isar
498,499,Vistra Energy,ENERGY,energy,"Dallas, TX",Dallas,TX,e
499,500,ABM Industries,BUSINESS SERVICES,diversified outsourcing services,"New York, NY",New York,NY,dos